body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.social-icons a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
}

.music-list {
    list-style: none;
    padding: 0;
}

.music-list li {
    margin-top: 20px;
    color: #333;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.music-list a {
    color: #333;
    text-decoration: none;
}

.music-info {
    font-size: 9px;
    color: #666;
    margin-top: 5px;
}

.music-list i {
    margin-left: 5px;
}
